In [1]:
import pandas as pd
from io import StringIO
import requests

In [2]:



def download_all_data():
    annee=1990
    mois=1
    year = range(1990,2020)
    month = range(1,12)
    for i in year:
        for j in month:
            str_annee = str(i)
            str_mois = str(j)
            if j<=9:
                str_mois = "0"+str_mois
            url = "https://donneespubliques.meteofrance.fr/donnees_libres/Txt/Climat/climat."+str_annee+str_mois+".csv.gz"
            r = requests.get(url, allow_redirects=True)
            open("/data/climat."+str_annee+str_mois+".csv", 'wb').write(r.content)
            #print(r.content)
            print(str_annee+" "+str_mois)   
        
def merge_download_all_data():
    #df = pd.DataFrame(["NUM_POSTE","DAT","PSTATM","PMERM","TMMOY","TMSIGMA","TXMOY","TNMOY","TSVMOY","RR","NBJRR1","INST","NBPMER","NBTM","NBTX","NBTSV","NBRR","NBINS","NBJTX25","NBJTX30","NBJTX35","NBJTX40","NBJTX0","NBJTN0","NBJRR5","NBJRR10","NBJRR50","NBJRR100","NBJNEIG0","NBJNEIG1","NBJNEIG10","NBJNEIG50","NBJFF10","NBJFF20","NBJFF30","NBJVISI50","NBJVISI100","NBJVISI1000","TMXAB","TMXDAT","TMNAB","TMNDAT","TXAB","TXDAT","TNAB","TNDAT","RRAB","RRDAT","FXAB","FXDAT","NBORAGE","NBGRELE","HTX","HTN"])
    frames = []
    annee=1990
    mois=1
    year = range(1990,2020)
    month = range(1,12)

    for i in year:
        for j in month:
            str_annee = str(i)
            str_mois = str(j)
            if j<=9:
                str_mois = "0"+str_mois
            url = "https://donneespubliques.meteofrance.fr/donnees_libres/Txt/Climat/climat."+str_annee+str_mois+".csv.gz"
            r = requests.get(url, allow_redirects=True)
            #open("/data/climat."+str_annee+str_mois+".csv", 'wb').write(r.content)
            #print(r.content)
            #print(type(r.content))
            s=str(r.content,'utf-8')
            data = StringIO(s)
            print(len(frames))
            frames.append(pd.read_csv(data,header=0,sep=";"))#, error_bad_lines=False))
            print(str_annee+" "+str_mois)
    return pd.concat(frames)
df = merge_download_all_data()

0
1990 01
1
1990 02
2
1990 03
3
1990 04
4
1990 05
5
1990 06
6
1990 07
7
1990 08
8
1990 09
9
1990 10
10
1990 11
11
1991 01
12
1991 02
13
1991 03
14
1991 04
15
1991 05
16
1991 06
17
1991 07
18
1991 08
19
1991 09
20
1991 10
21
1991 11
22
1992 01
23
1992 02
24
1992 03
25
1992 04
26
1992 05
27
1992 06
28
1992 07
29
1992 08
30
1992 09
31
1992 10
32
1992 11
33
1993 01
34
1993 02
35
1993 03
36
1993 04
37
1993 05
38
1993 06
39
1993 07
40
1993 08
41
1993 09
42
1993 10
43
1993 11
44
1994 01
45
1994 02
46
1994 03
47
1994 04
48
1994 05
49
1994 06
50
1994 07
51
1994 08
52
1994 09
53
1994 10
54
1994 11
55
1995 01
56
1995 02
57
1995 03
58
1995 04
59
1995 05
60
1995 06
61
1995 07
62
1995 08
63
1995 09
64
1995 10
65
1995 11
66
1996 01
67
1996 02
68
1996 03
69
1996 04
70
1996 05
71
1996 06
72
1996 07
73
1996 08
74
1996 09
75
1996 10
76
1996 11
77
1997 01
78
1997 02
79
1997 03
80
1997 04
81
1997 05
82
1997 06
83
1997 07
84
1997 08
85
1997 09
86
1997 10
87
1997 11
88
1998 01
89
1998 02
90
1998 03
91
1998 04
92
1998 05
93
1998 06
94
1998 07
95
1998 08
96
1998 09
97
1998 10
98
1998 11
99
1999 01
100
1999 02
101
1999 03
102
1999 04
103
1999 05
104
1999 06
105
1999 07
106
1999 08
107
1999 09
108
1999 10
109
1999 11
110
2000 01
111
2000 02
112
2000 03
113
2000 04
114
2000 05
115
2000 06
116
2000 07
117
2000 08
118
2000 09
119
2000 10
120
2000 11
121
2001 01
122
2001 02
123
2001 03
124
2001 04
125
2001 05
126
2001 06
127
2001 07
128
2001 08
129
2001 09
130
2001 10
131
2001 11
132
2002 01
133
2002 02
134
2002 03
135
2002 04
136
2002 05
137
2002 06
138
2002 07
139
2002 08
140
2002 09
141
2002 10
142
2002 11
143
2003 01
144
2003 02
145
2003 03
146
2003 04
147
2003 05
148
2003 06
149
2003 07
150
2003 08
151
2003 09
152
2003 10
153
2003 11
154
2004 01
155
2004 02
156
2004 03
157
2004 04
158
2004 05
159
2004 06
160
2004 07
161
2004 08
162
2004 09
163
2004 10
164
2004 11
165
2005 01
166
2005 02
167
2005 03
168
2005 04
169
2005 05
170
2005 06
171
2005 07
172
2005 08
173
2005 09
174
2005 10
175
2005 11
176
2006 01
177
2006 02
178
2006 03
179
2006 04
180
2006 05
181
2006 06
182
2006 07
183
2006 08
184
2006 09
185
2006 10
186
2006 11
187
2007 01
188
2007 02
189
2007 03
190
2007 04
191
2007 05
192
2007 06
193
2007 07
194
2007 08
195
2007 09
196
2007 10
197
2007 11
198
2008 01
199
2008 02
200
2008 03
201
2008 04
202
2008 05
203
2008 06
204
2008 07
205
2008 08
206
2008 09
207
2008 10
208
2008 11
209
2009 01
210
2009 02
211
2009 03
212
2009 04
213
2009 05
214
2009 06
215
2009 07
216
2009 08
217
2009 09
218
2009 10
219
2009 11
220
2010 01
221
2010 02
222
2010 03
223
2010 04
224
2010 05
225
2010 06
226
2010 07
227
2010 08
228
2010 09
229
2010 10
230
2010 11
231
2011 01
232
2011 02
233
2011 03
234
2011 04
235
2011 05
236
2011 06
237
2011 07
238
2011 08
239
2011 09
240
2011 10
241
2011 11
242
2012 01
243
2012 02
244
2012 03
245
2012 04
246
2012 05
247
2012 06
248
2012 07
249
2012 08
250
2012 09
251
2012 10
252
2012 11
253
2013 01
254
2013 02
255
2013 03
256
2013 04
257
2013 05
258
2013 06
259
2013 07
260
2013 08
261
2013 09
262
2013 10
263
2013 11
264
2014 01
265
2014 02
266
2014 03
267
2014 04
268
2014 05
269
2014 06
270
2014 07
271
2014 08
272
2014 09
273
2014 10
274
2014 11
275
2015 01
276
2015 02
277
2015 03
278
2015 04
279
2015 05
280
2015 06
281
2015 07
282
2015 08
283
2015 09
284
2015 10
285
2015 11
286
2016 01
287
2016 02
288
2016 03
289
2016 04
290
2016 05
291
2016 06
292
2016 07
293
2016 08
294
2016 09
295
2016 10
296
2016 11
297
2017 01
298
2017 02
299
2017 03
300
2017 04
301
2017 05
302
2017 06
303
2017 07
304
2017 08
305
2017 09
306
2017 10
307
2017 11
308
2018 01
309
2018 02
310
2018 03
311
2018 04
312
2018 05
313
2018 06
314
2018 07
315
2018 08
316
2018 09
317
2018 10
318
2018 11
319
2019 01
320
2019 02
321
2019 03
322
2019 04
323
2019 05
324
2019 06
325
2019 07
326
2019 08
327
2019 09
328
2019 10
329
2019 11

In [3]:
df.head()

,NUM_POSTE,DAT,PSTATM,PMERM,TMMOY,TMSIGMA,TXMOY,TNMOY,TSVMOY,RR,...,TNAB,TNDAT,RRAB,RRDAT,FXAB,FXDAT,NBORAGE,NBGRELE,HTX,HTN
0,7005,1990-01-01 00:00:00,NaN,1018.3,5.7,3.4,8.1,3.5,8.3,87.0,...,-1.7,1990-01-01 00:00:00,32.2,1990-01-23 00:00:00,40.0,1990-01-25 00:00:00,1.0,1.0,6.0,18.0
1,7015,1990-01-01 00:00:00,NaN,1018.8,5.3,3.3,7.6,3.5,7.7,69.0,...,-1.0,1990-01-02 00:00:00,24.6,1990-01-23 00:00:00,37.0,1990-01-25 00:00:00,NaN,NaN,6.0,18.0
2,7020,1990-01-01 00:00:00,NaN,1016.1,9.0,1.8,10.4,7.0,10.5,104.0,...,2.0,1990-01-03 00:00:00,18.5,1990-01-23 00:00:00,46.0,1990-01-25 00:00:00,1.0,2.0,6.0,18.0
3,7027,1990-01-01 00:00:00,NaN,1018.6,6.8,3.3,10.0,4.1,9.2,70.0,...,-1.3,1990-01-14 00:00:00,25.2,1990-01-23 00:00:00,36.0,1990-01-25 00:00:00,NaN,NaN,6.0,18.0
4,7037,1990-01-01 00:00:00,1000.6,1020.0,4.9,3.3,7.3,2.7,8.2,64.0,...,-2.6,1990-01-01 00:00:00,28.8,1990-01-23 00:00:00,32.0,1990-01-25 00:00:00,0.0,1.0,6.0,18.0

In [4]:
df.describe()

,NUM_POSTE,PSTATM,PMERM,TMMOY,TMSIGMA,TXMOY,TNMOY,TSVMOY,RR,NBJRR1,...,TMXAB,TMNAB,TXAB,TNAB,RRAB,FXAB,NBORAGE,NBGRELE,HTX,HTN
count,16733.000000,15400.000000,15278.000000,16526.000000,15484.000000,15620.000000,15619.000000,16277.000000,16069.000000,16064.000000,...,15163.000000,15213.000000,15224.000000,14626.000000,14753.000000,14680.000000,10639.000000,9194.000000,15311.000000,15312.000000
mean,22088.193151,997.766708,1015.733493,14.682773,3.199386,19.170134,10.717178,13.887123,82.367758,9.537226,...,19.106733,9.900868,25.050486,5.046609,23.018078,21.627139,2.399380,0.191103,6.408595,17.258359
std,27349.897469,28.461712,5.663408,8.084987,2.361524,8.373276,7.779330,6.776109,91.988761,5.554570,...,6.856471,9.206942,7.800688,9.207496,22.170441,6.880569,2.521762,0.516162,2.818362,3.314526
min,7005.000000,829.200000,975.100000,-22.100000,0.000000,-18.700000,-26.100000,0.100000,0.000000,0.000000,...,-15.100000,-31.700000,-12.300000,-35.700000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,7222.000000,994.100000,1013.500000,8.800000,2.100000,12.900000,5.100000,8.900000,32.000000,5.000000,...,13.800000,3.500000,19.300000,-1.300000,10.400000,17.000000,0.000000,0.000000,6.000000,18.000000
50%,7535.000000,1006.700000,1016.200000,14.600000,3.100000,19.400000,10.300000,12.400000,59.000000,9.000000,...,19.300000,9.700000,26.000000,4.300000,17.200000,20.000000,2.000000,0.000000,6.000000,18.000000
75%,7761.000000,1012.400000,1018.500000,20.600000,4.200000,26.000000,15.200000,16.300000,98.000000,13.000000,...,25.200000,15.400000,31.600000,10.100000,27.800000,24.900000,4.000000,0.000000,6.000000,18.000000
max,89642.000000,1028.600000,1031.900000,29.600000,57.600000,35.900000,27.700000,41.300000,2430.000000,31.000000,...,34.000000,28.900000,43.500000,26.300000,401.800000,94.000000,17.000000,7.000000,21.000000,23.000000

In [5]:
df

,NUM_POSTE,DAT,PSTATM,PMERM,TMMOY,TMSIGMA,TXMOY,TNMOY,TSVMOY,RR,...,TNAB,TNDAT,RRAB,RRDAT,FXAB,FXDAT,NBORAGE,NBGRELE,HTX,HTN
0,7005,1990-01-01 00:00:00,NaN,1018.3,5.7,3.4,8.1,3.5,8.3,87.0,...,-1.7,1990-01-01 00:00:00,32.2,1990-01-23 00:00:00,40.0,1990-01-25 00:00:00,1.0,1.0,6.0,18.0
1,7015,1990-01-01 00:00:00,NaN,1018.8,5.3,3.3,7.6,3.5,7.7,69.0,...,-1.0,1990-01-02 00:00:00,24.6,1990-01-23 00:00:00,37.0,1990-01-25 00:00:00,NaN,NaN,6.0,18.0
2,7020,1990-01-01 00:00:00,NaN,1016.1,9.0,1.8,10.4,7.0,10.5,104.0,...,2.0,1990-01-03 00:00:00,18.5,1990-01-23 00:00:00,46.0,1990-01-25 00:00:00,1.0,2.0,6.0,18.0
3,7027,1990-01-01 00:00:00,NaN,1018.6,6.8,3.3,10.0,4.1,9.2,70.0,...,-1.3,1990-01-14 00:00:00,25.2,1990-01-23 00:00:00,36.0,1990-01-25 00:00:00,NaN,NaN,6.0,18.0
4,7037,1990-01-01 00:00:00,1000.6,1020.0,4.9,3.3,7.3,2.7,8.2,64.0,...,-2.6,1990-01-01 00:00:00,28.8,1990-01-23 00:00:00,32.0,1990-01-25 00:00:00,0.0,1.0,6.0,18.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53,81401,2019-11-01 00:00:00,1009.0,1009.6,27.2,0.6,34.1,23.2,30.6,98.0,...,22.2,2019-11-02 00:00:00,20.0,2019-11-26 00:00:00,16.7,2019-11-28 00:00:00,NaN,NaN,9.0,21.0
54,81405,2019-11-01 00:00:00,1009.1,1010.1,27.2,0.5,32.7,23.1,29.3,140.0,...,21.8,2019-11-02 00:00:00,37.9,2019-11-27 00:00:00,18.1,2019-11-08 00:00:00,4.0,NaN,9.0,21.0
55,81408,2019-11-01 00:00:00,1008.9,1009.7,27.7,0.6,34.2,23.2,28.9,84.0,...,22.3,2019-11-30 00:00:00,21.9,2019-11-27 00:00:00,12.7,2019-11-06 00:00:00,NaN,NaN,9.0,21.0
56,81415,2019-11-01 00:00:00,998.0,1010.0,27.6,0.8,34.7,23.1,28.1,106.0,...,22.0,2019-11-10 00:00:00,36.1,2019-11-21 00:00:00,18.3,2019-11-06 00:00:00,NaN,NaN,9.0,21.0
57,89642,2019-11-01 00:00:00,987.5,992.9,-4.6,3.0,-2.0,-7.4,2.6,NaN,...,-15.4,2019-11-02 00:00:00,NaN,NaN,36.2,2019-11-15 00:00:00,0.0,0.0,21.0,9.0

In [6]:
df['DAT']= pd.to_datetime(df['DAT'])

In [7]:
df['MOIS'] = pd.DatetimeIndex(df['DAT']).month

In [8]:
df['ANNEE'] = pd.DatetimeIndex(df['DAT']).year

In [10]:
df.head()

,NUM_POSTE,DAT,PSTATM,PMERM,TMMOY,TMSIGMA,TXMOY,TNMOY,TSVMOY,RR,...,RRAB,RRDAT,FXAB,FXDAT,NBORAGE,NBGRELE,HTX,HTN,MOIS,ANNEE
0,7005,1990-01-01,NaN,1018.3,5.7,3.4,8.1,3.5,8.3,87.0,...,32.2,1990-01-23 00:00:00,40.0,1990-01-25 00:00:00,1.0,1.0,6.0,18.0,1,1990
1,7015,1990-01-01,NaN,1018.8,5.3,3.3,7.6,3.5,7.7,69.0,...,24.6,1990-01-23 00:00:00,37.0,1990-01-25 00:00:00,NaN,NaN,6.0,18.0,1,1990
2,7020,1990-01-01,NaN,1016.1,9.0,1.8,10.4,7.0,10.5,104.0,...,18.5,1990-01-23 00:00:00,46.0,1990-01-25 00:00:00,1.0,2.0,6.0,18.0,1,1990
3,7027,1990-01-01,NaN,1018.6,6.8,3.3,10.0,4.1,9.2,70.0,...,25.2,1990-01-23 00:00:00,36.0,1990-01-25 00:00:00,NaN,NaN,6.0,18.0,1,1990
4,7037,1990-01-01,1000.6,1020.0,4.9,3.3,7.3,2.7,8.2,64.0,...,28.8,1990-01-23 00:00:00,32.0,1990-01-25 00:00:00,0.0,1.0,6.0,18.0,1,1990

In [11]:
df.to_csv(r'data\climat2019TO2020.csv', index = False)